<div  >
    <ul id="episode_list">
        <% season.episodes.each do |episode| %>
            <li class="dark badge"><a href="#" ng-click="play_episode(<%= episode.id %>)"><%= episode.number  %></a> </li>
        <% end %>
    </ul>
</div>

