<div class="row" ng-controller="EpisodesController" ng-init="init()">
        <div class="twelve columns with_top_padding">
        <div class="vertical tabs">
            <ul class="tab-nav two columns seasons_panel">
                <% @serial.seasons.each_with_index do |season,index| %>
                    <li <% if index==0 %> class="active" <% end %>> <%= link_to "Сезон #{season.number}" %> </li>
            <% end %>
            </ul>
            <div class="episodes" >
                <div class="screen">
                    <video id="video_player" class="video-js vjs-default-skin" controls autoplay
                          preload="auto" width="700" height="400" data-setup="{}">
                          <source src="<%= episode_path(@serial.seasons.first.episodes.first) %>" type='video/mp4'>
                      </video>
                    <% #video_tag episode_url(@serial.seasons.first.episodes.first), :id=>"video_player", :size=>"700x400", :controls => true  %>
                </div>
                <% @serial.seasons.each_with_index do |season,index| %>
                    <div class="tab-content ten columns <%= 'active' if index==0 %>">
                        <%= render :partial => "season_presenter", :locals => { :season => season } %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
