<div class="nine colgrid">
    <div class ="row">
        <ul class="three_up tiles serials">
            <% @serials.each_with_index do |serial, index| %>
                <li>
                    <%= link_to image_tag(serial.cover.url,  :class=> "serial_cover"), serial_path(serial.id) %>
                    <br>
                    <%= link_to content_tag(:span, serial.name), serial_path(serial.id) %>
                </li> 
                <%if (index+1)%3==0 %></ul> <ul class="three_up tiles serials"><% end %>
        <% end %>
        </ul>
    </div>
</div>
