.serial_cover
{
    width: 260px;
    height: 193px;
}

.seasons_panel
{
    height: 700px;
}


.serials
{
    text-align: center;
}

video
{
    background: black;
}

.central
{
    padding: 10px;
    background: #cecece;
    width: 850px;
    margin: 0 auto;
    border-radius: 20px;
}

.episodes
{
}

.screen
{

}
