<!DOCTYPE html>
<html ng-app>
<head>
  <title>SerialTj</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="pretty navbar" gumby-fixed="top" id="nav3">
    <div class="row">
        <h1 class="four columns logo">
            <%= link_to image_tag("serials_logo.png"), root_path  %>
        </h1>
        <ul>
            <% @categories.each do |category| %>
                <li> <%= link_to category.name, category_path(category) %> </li>
            <% end %>
            <li class="field"><input class="search input" type="search" placeholder="Поиск"></li> 
        </ul>
    </div>
</div>

<div class="container">
    <div class="central">
        <%= yield %>
    </div>
</div>

</body>
</html>
